<div *ngIf="!IsemployeeLoaded"> Loading Employees....</div>
<div *ngIf="IsemployeeLoaded && Employees.length == 0"> No Employees found!!</div>
<div *ngIf="IsemployeeLoaded">
    <div class="row">
        <div class="col-md-11 col-md-offset-10">
            <button class="btn btn-default" (click)="addEmployee()"> Add </button> 
        </div>
    </div>
    <div class="row">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">CreatedAt</th>
                    <th scope="col">UpdatedAt</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of Employees">

                    <th scope="col">{{emp.Id}}</th>
                    <th scope="col">{{emp.FirstName}}</th>
                    <th scope="col">{{emp.LastName}}</th>
                    <th scope="col">{{emp.Email}}</th>
                    <th scope="col">{{emp.CreatedAt | date}}</th>
                    <th scope="col">{{emp.UpdatedAt | date}}</th>
                    <th scope="col">
                        <a class="btn btn-primary" [routerLink]="['/edit/'+emp.Id]">Edit</a>
                        <button class="btn btn-danger" (click)="deleteEmployee(emp)">Delete </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>